<form hx-post="{{ url_for('album.add', img_id=image.id) }}">
    <label for="album_chooser">Add to album:</label>
    <select id="album_chooser" name="choose_album">
        {% for album in albums %}
        <option value="{{ album.id }}">{{ album.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Add to Album</button>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages%}
                <span>{{message}}</span>
            {% endfor %}
        {% endif %}
    {% endwith %}
</form>
