{% set title_block %}
    {% block title %}JEBAT{% endblock %}
{% endset %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title_block}}</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" type="image/png" href="static/favicon.png">
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>
<body>
    <nav class="container">
        <ul>
            <li><a href="/"><img src="/static/logo.png" width="360"></a></img></li>
        </ul> 
        <ul>
            <li><a href="/">Home</a></li>
            {% if current_user.can_upload %}
                <li><a href="/upload">Upload</a></li>
            {% endif %}
            {% if current_user.can_view %}
                <li><a href="/album">Albums</a></li>
            {% endif %}
            {% if current_user.is_admin %}
                <li><a href="/roles">Roles</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
                <li><a href="/logout">Log out</a></li>
            {% else %}
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/login">Log in</a></li>
            {% endif %}
        </ul>
    </nav>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>