{% extends "default_twocol.html" %}

{% block sidebar %}
    <aside class="flex-shrink text-black">
        <nav>
            <p>{{ image.caption }}</p>
            <p>Uploaded by <a class="link" href="{{ url_for('account.view', username=image.uploader.username) | replace('%40', '@') }}">@{{ image.uploader.username }}</a></p>
            {% if is_owner(image) %}
                {% include "album_add_partial.html" %}
                <hr />
                {% include "tag/tag_add.html" %}
            {% endif %}
                {% include "tag/tag_list.html" %}
                <hr />
            <strong>Actions</strong>

            <div class="btn-group">
                {% if is_owner(image) %}
                    <a href="#delete-modal" class="btn btn-error">Delete</a>
                {% endif %}
                <a class="btn btn-primary" href="/images/{{ image.hash }}.{{ image.extension }}" download>Download</a>
            </div>
        </nav>
        
    </aside>

    <!-- css-only trickery -->
    <div class="modal" id="delete-modal">
        <div class="modal-box">
            <h3 class="font-bold text-lg">Are you sure you'd like to delete this image?</h3>
            <p class="py-4">This action is irreversible. Images are immediately deleted.</p>
            <div class="modal-action">
                <a href="#" class="btn">Close</a>
                <form action="{{ url_for('image.delete', image_hash=image.hash) }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button class="btn btn-error" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="">
        
        <div role="document" class="flex-auto">
            <img src="/images/{{ image.hash }}.{{ image.extension }}" alt="view_image" class="w-full">
        </div>
    </div>
{% endblock %}