{% extends "default.html" %}

{% block content %}
    <aside>
        <nav>
            <p>{{ image.caption }}</p>
            <p>Uploaded by <a href="{{ url_for('account.view', username=image.uploader.username) }}">@{{ image.uploader.username }}</a></p>
            {% if is_owner(image) %}
                {% include "album_add_partial.html" %}
                <hr />
                {% include "tag/tag_add.html" %}
            {% endif %}
                {% include "tag/tag_list.html" %}
                <hr />
            {% if is_owner(image) %}
                <strong>Actions</strong>
                <form action="{{ url_for('image.delete', image_hash=image.hash) }}" method="POST"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/><button type="submit">Delete</button></form>
            {% endif %}
        </nav>
        
    </aside>
    <div role="document">
        <img src="/images/{{ image.hash }}.{{ image.extension }}" alt="view_image">
    </div>
{% endblock %}