{% macro navbar_link(name, url) %}
    <a class="basis-0 grow min-h-full text-center border-black border-4" href="{{url}}">
        <li class="">
            {{name}}
        </li>
    </a>
{% endmacro %}

<nav class="container mx-auto flex flex-row flex-wrap gap-8">
    <div class="basis-96">
        <a href="/"><img src="/static/logo.png" class=""></a>
    </div>
    <div class="flex flex-row justify-between items-center grow">
        <ul class="grow inline-flex justify-evenly flex-row gap-2">
            {{ navbar_link("Home", "/") }}
            {% if current_user.can_upload %}
                {{ navbar_link("Upload", url_for('upload.upload')) }}
            {% endif %}
            {% if current_user.can_view %}
                {{ navbar_link("Tags", url_for('tag.tags')) }}
            {% endif %}
            {% if current_user.can_view %}
                {{ navbar_link("Albums", url_for('album.albums')) }}
            {% endif %}
            {% if current_user.is_admin %}
                {{ navbar_link("Admin", url_for('admin.roles')) }}
            {% endif %}
            {% if current_user.is_authenticated %}
                {{ navbar_link("Log out", url_for('account.logout')) }}
            {% else %}
                {{ navbar_link("Sign up", url_for('account.signup')) }}
                {{ navbar_link("Log in", url_for('account.login')) }}
            {% endif %}
        </ul>
    </div>
</nav>